<div id="main">
    <h1>Web Frameworks</h1>
    <h2>Contents TODO</h2>

    <ul class="content_list">
        <li><a href="web-frameworks/intro">Introduction to the Bottle web-framework </a></li>
        <li><a href="web-frameworks/basic_routing">Basic Routing</a></li>
        <li><a href="web-frameworks/dynamic_routing">Dynamic Routing</a></li>
        <li><a href="web-frameworks/HTTP_request_methods">HTTP Request Methods</a></li>
        <li><a href="web-frameworks/templates">Bottle Templates</a></li>
        
    </ul>
</div>