<nav class="sidenav">
	<a href="intro">Intro</a>
	<a href="tags_elem">HTML Elements</a>
	<a class="active" href="attr">HTML Attributes</a>
	<a href="form">HTML Formatting</a>
	<a  href="class">Classes and ID</a>
</nav>

<main class='main-content'>
	<h1>HTML Attributes</h1>
	<div class="content-section content-text">
		<h3 class="subtitle">HTML Attributes</h3>

		<p>HTML elements can have attributes, which provide additional information about the elements, usually with the syntax name='value'.
 
The &lt;a&gt; syntax defines a hyperlink that can be added to the web page through the syntax:  &lt;a&gt;, where the href attribute defines the links destination.
&lt;a href="https://www.w3schools.com"&gt; This is a link&lt;/a&gt;
 
HTML can also define images that can be displayed in the web page with the &lt;img&gt; tag and the attributes:
<ul>
	<li>The Src attribute refers to the source file
</li>
<li>The alt attribute is the alternative text for an image which would be which would be displayed if the image cannot.
</li>
<li>The width and the height attributes refer to the measurement of the image on the web page.
</li>
</ul>
		</p>
<p>
&lt;img src=&quot;w3schools.jpg&quot; alt=&quot;W3Schools.com&quot; width=&quot;104&quot; height=&quot;142&quot;&gt;
</p>
 
<p>
The style attribute is used to add styles to the element (usually a text)  such fonts, colours, etc.
&lt;p style=&quot;color:red;&quot;&gt;This is a red paragraph.&lt;/p&gt;
</p>
 
<p>
When using HTML, there is a way to define the language of the Web page to help the engines and browsers.  This is done through the lang attribute which goes in the &lt;html&gt; tag.
&lt;html lang=&quot;en&quot;&gt; ('en' for english)
</p>

<p>
The title attribute defines information about an element, which appears when the user is about to click the title.
&lt;p title=&quot;I'm a tooltip&quot;&gt;This is a paragraph.&lt;/p&gt;
</p>

		<h3 class="subtitle">Tips</h3>

<ul>
	<li>Use double quotations marks rather than single ones: "
</li>
<li>Always put the attribute values in quotation: name="value"</li>
<li>Use lowercase attributes: title=
</li>
</ul>

</main>
