<nav class="sidenav">
	<a class="back_to_home" href="/">&lt; Back to home</a>
	<a href="introduction">Introduction</a>
	<a href="tags_elements">HTML Elements</a>
	<a href="attributes">HTML Attributes</a>
	<a class="active" href="formatting">HTML Formatting</a>
	<a  href="class">Classes and ID</a>
</nav>

<script src="/js/prism.js"></script>

<main class='main-content'>
	<h1>HTML Formatting</h1>
	<div class="content-section content-text">

		<p>The HTML language consists of headings which can be added to the web page to help structure it, this includes 6 different types of headings which vary in size: <code class="language-html">&lt;h1&gt;</code> - <code class="language-html">&lt;h6&gt;</code>.  Although, the heading sizes are default, there is a way to customise the size of the heading through the style attribute.
<code class="language-html">style=&quot;font-size:60px;&quot;</code></p>

<p>This language also includes paragraphs to help structure the web page with <code class="language-html">&lt;p&gt;</code>. The <code class="language-html">&lt;p&gt;</code> adds a newline character and some white space under the text. However, the display of the web page depends on the screen and window size that the user would be looking through.
With HTML, you cannot change the format by adding extra spaces or extra lines in your HTML code. The web browser automatically removes extra spaces and lines when the page is displayed.
</p>
<p>HTML can add a horizontal line to create a break or separate content with <code class="language-html">&lt;hr&gt;</code>, it can also break a line starting a new paragraph with <code class="language-html">&lt;br&gt;</code>.</p>

<p>The style attribute uses the CSS property, to define the format of the HTML. 
One of the CSS properties that can be used is 'background-colour' which determines the background colour of the element.
<code class="language-html">&lt;body style=&quot;background-color:powderblue;&quot;&gt;</code>
<code class="language-html">&lt;h1 style=&quot;background-color:powderblue;&quot;&gt;This is a heading&lt;/h1&gt;</code>
</p>
<p>
Through the CSS property:
<ul>
<li>the colour of the text can also be defined: <code class="language-html">style=&quot;color:blue;&quot;</code></li>
<li>The font size can be defined: <code class="language-html">style=&quot;font-family:verdana;&quot;</code>
</li>
<li>The text-alignment can be defined: <code class="language-html">style=&quot;text-align:center;&quot;</code>
</li>
</ul>
</p>

<p>
There are many different ways to display text such as:
<ul>
	<li>To make the text bold: <code class="language-html">&lt;b&gt;</code></li>
<li>To make the text italic:  <code class="language-html">&lt;i&gt;</code>
</li>
<li>To make the text deleted: <code class="language-html">&lt;del&gt;</code>
</li>
<li>To highlight a text: <code class="language-html">&lt;mark&gt;</code>
</li>
<li>To create a block around a text: <code class="language-html">&lt;div&gt;</code>
</li>
<li>To create a block that does not start a new line: <code class="language-html">&lt;span&gt;</code>
</li>
</ul>
</p>
<p>
Other ways to format text include quotation and citation:
<ul>
	<li>To cite a book, poem, etc: <code class="language-html">&lt;cite&gt;</code></li>
<li>To define contact information: <code class="language-html">&lt;address&gt;</code>
</li>
<li>To add short quotation marks: <code class="language-html">&lt;q&gt;</code>
</li>
</ul>
</p>

</main>
