<nav class="sidenav">
	<a href="intro">Intro</a>
	<a href="tags_elem">HTML Elements</a>
	<a href="attr">HTML Attributes</a>
	<a class="active" href="form">HTML Formatting</a>
	<a  href="class">Classes and ID</a>
</nav>

<main class='main-content'>
	<h1>HTML Formatting</h1>
	<div class="content-section content-text">

		<p>The HTML language consists of headings which can be added to the web page to help structure it, this includes 6 different types of headings which vary in size: &lt;h1&gt; - &lt;h6&gt;.  Although, the heading sizes are default, there is a way to customise the size of the heading through the style attribute.
style=&quot;font-size:60px;&quot;</p>

<p>This language also includes paragraphs to help structure the web page with &lt;p&gt;. The &lt;p&gt; adds a newline character and some white space under the text. However, the display of the web page depends on the screen and window size that the user would be looking through.
With HTML, you cannot change the format by adding extra spaces or extra lines in your HTML code. The web browser automatically removes extra spaces and lines when the page is displayed.
</p>
<p>HTML can add a horizontal line to create a break or separate content with &lt;hr&gt;, it can also break a line starting a new paragraph with &lt;br&gt;.</p>

<p>The style attribute uses the CSS property, to define the format of the HTML. 
One of the CSS properties that can be used is 'background-colour' which determines the background colour of the element.
&lt;body style=&quot;background-color:powderblue;&quot;&gt;
&lt;h1 style=&quot;background-color:powderblue;&quot;&gt;This is a heading&lt;/h1&gt;
</p>
<p>
Through the CSS property:
<ul>
	<li>the colour of the text can also be defined: style=&quot;color:blue;&quot;</li>
<li>The font size can be defined: style=&quot;font-family:verdana;&quot;
</li>
<li>The text-alignment can be defined: style=&quot;text-align:center;&quot;
</li>
</ul>
</p>

<p>
There are many different ways to display text such as:
<ul>
	<li>To make the text bold: &lt;b&gt;</li>
<li>To make the text italic: &lt;i&gt;
</li>
<li>To make the text deleted: &lt;del&gt;
</li>
<li>To highlight a text: &lt;mark&gt;
</li>
<li>To create a block around a text: &lt;div&gt;
</li>
<li>To create a block that does not start a new line: &lt;span&gt;
</li>
</ul>
</p>
<p>
Other ways to format text include quotation and citation:
<ul>
	<li>To cite a book, poem, etc: &lt;cite&gt;</li>
<li>To define contact information: &lt;address&gt;
</li>
<li>To add short quotation marks: &lt;q&gt;
</li>
</ul>
</p>

</main>
