<nav class="sidenav">
	<a class="back_to_index" href="../html">&lt; Back to index</a>
	<a class="active" href="intro">Intro</a>
	<a href="tags_elem">HTML Elements</a>
	<a href="attr">HTML Attributes</a>
	<a href="form">HTML Formatting</a>
	<a  href="class">Classes and ID</a>
</nav>

<script src="/js/prism.js"></script>

<main class='main-content'>
	<h1>Introduction to HTML</h1>
	<div class="content-section content-text">
	<div>
		<h3 class="subtitle">What Is HTML</h3>

		<p>HTML is Hyper Text Markup Language that helps design and structure Web pages through a series of elements to be displayed in the web browser.
	</p>
	</div>
	<div>
	<pre><code class="language-html">&lt;div&gt;
		&lt;h3 class="subtitle"&gt;What Is HTML&lt;/h3&gt;

		&lt;p&gt;HTML is Hyper Text Markup Language that helps design and 
		structure Web pages through a series of elements to be displayed in the web browser.&lt;/p&gt;
&lt;/div&gt; </code></pre>
	</div>
</main>
