<nav class="sidenav">
	<a class="active" href="intro">Intro</a>
	<a href="tags_elem">HTML Elements</a>
	<a href="attr">HTML Attributes</a>
	<a href="form">HTML Formatting</a>
	<a  href="class">Classes and ID</a>
</nav>

<main class='main-content'>
	<h1>Introduction to HTML</h1>
	<div class="content-section content-text">
		<h3 class="subtitle">What Is HTML</h3>

		<p>HTML is Hyper Text Markup Language that helps design and structure Web pages through a series of elements to be displayed in the web browser.
</p>
	</div>
</main>
