<nav class="sidenav">
	<a class="back_to_index" href="../html">&lt; Back to index</a>
	<a href="intro">Intro</a>
	<a class="active" href="tags_elem">HTML Elements</a>
	<a href="attr">HTML Attributes</a>
	<a href="form">HTML Formatting</a>
	<a  href="class">Classes and ID</a>
</nav>

<main class='main-content'>
	<h1>HTML Tags and Elements</h1>
	<div class="content-section content-text">
		<h3 class="subtitle">HTML Elements</h3>

		<p>A HTML element is defined with a tagname, the content of the web browser and then the ending tagname. The web browser reads the contents of the HTML file and displays them according to the tagname. Elements can be nested, meaning elements can be used in other elements.
 
&lt;tagname&gt; Web Content &t;/tagname&gt;
 
All HTML files needs a declaration of the type of document at the top defining it as the HTML5 document.
<div class="code">&lt;!DOCTYPE html&gt;</div>

		<h3 class="subtitle">HTML Tags</h3>
</p>The root element of the HTML page is defined by: &lt;html&gt;
The contents about the HTML page is defined in the section:  &lt;head&gt;
The element that defines the title of the HTML page is, this would go under the &lt;head&gt; section: &lt;title&gt;
</p>

</p>The next section contains the headings, paragraphs, images and any other content of the web page, defined as: &lt;body&gt;
The large heading section is defined as: &lt;h1&gt;, which goes from &lt;h1&gt; to &lt;h6&gt; to most significant heading to the least significant heading.
The paragraph section is defined as: &lt;p&gt;
HTML elements with no content are called empty elements. The &lt;br&gt; tag is an empty element that defines a line break.
</p>
</main>
