.subtitle {
    color: #4c668a;
}

.left_profile {
    min-width: 500px;
    min-height: 150px;
    margin: 30px 50px;
    padding: 5px;
    background-color:#ffb4d3;
    box-shadow: 0px 5px 8px 0px #00000054;
}

.right_profile {
    min-width: 500px;
    min-height: 150px;
    margin: 30px 50px;
    padding: 5px;
    background-color:#f6ebff;
    box-shadow: 0px 5px 8px 0px #00000054;
}

.profile_description {
    padding: 0 10px;
    text-align: center;
}

img.profileL, img.profileR {
    min-height: inherit;
    margin: 0 20px;
}

.profileL {
    float: left;
}
.profileR {
    float: right;
}