.all_posts{
    padding-right: 70px;
    
}


.all_posts > h1, .a_post{
    
    margin-bottom: 10px;
    margin-left: auto;
}

.a_post {
    background:#fff0f6;
    font-size: 20px;

}


.a_post > p, .forum_h1 {
    margin-left: 10px;
    margin-top: auto;
    padding-bottom: 0px;
    padding: 10px;
}

.about {
    margin-left: 10px;
    padding: 10px;
    margin-top: 0px;

}

.forum_sort {
    background-color: #ebeef2;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
   
}

.forum_sort > button {

    border: none;
    color:#4c668a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.ask_button {
    
    float:right;
	border-radius: 10px;
	padding: 23px 20px;
	color: #ffb4d3;
	background-color: #042f6d;
}

.back_button {
    padding-right: 70px;
    box-sizing: border-box;
    padding: 12px 20px;  
	border-radius: 10px;
	padding: 23px 20px;
	color: #ffb4d3;
	background-color: #042f6d;
}



.post_form > input {
    
    width: 50%;
    padding-right: 70px;
    padding: 12px 20px;  
    box-sizing: border-box;
    
}

.post_form > input[id=body] {
   
    width: 50%;
    height: 200px;
    border: 2px solid #ccc;
    resize: none;
      
}

.post_form > select {
    width: 50%;
    box-sizing: border-box;
    padding: 12px 20px; 
    
}