
.forum_post {

    margin-left: 15%;
    margin-right: 15%;
}


.reply {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 0px;
   
}


.submit {

    float:right;
}

.answer_box {
    display:block;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    
    
}


.a_post {

font-size: 27px;


margin-top: auto;
padding-bottom: 0px;
padding: 10px ;
padding-right: 20%;
}

.answer {
font-size: 27px;

margin-left: 15%;
margin-right: 15%;
padding-left: 10px ;
padding-bottom: 0px;


}

.answers > h1 {
padding-left: 10px ;
margin-left: 15%;
padding-bottom: 5px;

}

.about {

background-color: #ebeef2;
font-size: 20px;
font-weight: 600;
padding: 5px 5px 5px 5px;
margin-bottom: 20px;

}