.answer_box {

    margin-top: 50px;
    height: 50px;
    margin-left: 10px;
    width: auto;
}

.a_post {

font-size: 27px;
margin-left: 10px;

margin-top: auto;
padding-bottom: 0px;
padding: 10px ;
padding-right: 20%;
}

.answer {
font-size: 27px;
margin-left: 10px;

padding-left: 10px ;
padding-bottom: 0px;
padding-right: 20%;

}

.answers > h1 {
padding-left: 10px ;
margin-left: 10px;
padding-bottom: 5px;

}

.about {

background-color: #ebeef2;
font-size: 20px;
font-weight: 600;
padding: 5px 5px 5px 5px;
margin-bottom: 20px;

}