nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li, footer li {
    float: left;
}

nav li a, footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, footer li a:hover {
    background-color: #111;
}

html, body {
    font-family: sans-serif, Arial, Helvetica;
    height: 100%;
    margin: 0;
    padding: 0;
}

a:link {
	color: #042f6d;
}

#main {
    text-align: center;
    margin: 80px auto;
    max-width: 1200px;
    color: #042f6d;
    font-family: sans-serif, Arial, Helvetica;

}

#main h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;

}

#main h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

#content_cards {
    all: initial;
    display: grid;
    list-style-type: none;
    grid-template-rows: repeat(5, 0.5fr);
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    font-family: sans-serif, Arial, Helvetica;
}

.card {
    display:grid;
    grid-template-columns: 2fr 5fr;
    text-align: left;
    margin: 15px auto;
    min-width: 150px;
    min-height: 150px;
    max-width: 90vw;
    box-shadow: 0px 5px 8px 0px #00000054;
    overflow-wrap: break-word;
    font-size: large;
    /* Animation */
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    #main {
        margin: 80px 10vmin;
    }
    .card {
        grid-template-columns: 1fr;
    }
}

.card:hover {
    box-shadow: 0 10px 16px 0 #00000054;
    transform: scale(1.05);
}

.card_link {
    text-decoration: none;
    cursor: pointer;
}

.card_title {
    color: #ffb4d3;
    background-color: #042f6d;
    padding: 0px 15px;
    overflow-wrap: break-word;
}

.card_content {
    color: #042f6d;
    background-color: #ffb4d3;
    padding: 0px 15px;
}

#how_web_works > h2, #html h2, #css h2, #js h2, #web-frameworks h2 {
    text-align: left;
    margin: 10px 0;
}