<div id=main>
    <h1>
        Our mission is to help you make a website.
    </h1>
    <h3 class = "description">
        Jerry's aim is to help people learn how 
        to make a website. We teach in detail to make sure all 
        kinds of learners can understand.
    </h3>
    <p class = "support">
        Our website is supported by passion and love.
    </p>
    <div class="dark1">
        <img class = "profileL" src="p.jpeg" 
        alt="A photo" 
        style="width:170px;height:170px;">
        ASnckyfckfcghkykfckyftchkuyfcgvhfcfkuftchgff A DIOvoADVONOINV  Ei foa Ve ihoIADN;e  IVhoid vaf;kasmcoihwoicscn

    </div>
    <div class="light2">
        
        ASncljdnvdvoaV EIAF OA DIOvoADVONOINV  Ei foa Ve ihoIADN;e  IVhoid vaf;kasmcoihwoicscn
        <img class = "profileR" src="p.jpeg" 
        alt="A photo" 
        style="width:170px;height:170px;">
    </div>
    <div class="dark3">
        <img class = "profileL" src="p.jpeg" 
        alt="A photo" 
        style="width:170px;height:170px;">
        ASncljdnvdvoaV EIAF OA DIOvoADVONOINV  Ei foa Ve ihoIADN;e  IVhoid vaf;kasmcoihwoicscn

    </div>
    <div class="light4">
        <img class = "profileR" src="p.jpeg" 
        alt="A photo" 
        style="width:170px;height:170px;">
        ASncljdnvdvoaV EIAF OA DIOvoADVONOINV  Ei foa Ve ihoIADN;e  IVhoid vaf;kasmcoihwoicscn

    </div>
    <div class="dark5">
        <img class = "profileL" src="p.jpeg" 
        alt="A photo" 
        style="width:170px;height:170px;">
        ASncljdnvdvoaV EIAF OA DIOvoADVONOINV  Ei foa Ve ihoIADN;e  IVhoid vaf;kasmcoihwoicscn

    </div>
    
    
</div>