<div id=main>
    <h2>
        Our mission is to help you make a website.
    </h2>
    <h3 id="subtitle">
        Jerry's aim is to help people learn how 
        to make a website. We teach in detail to make sure all 
        kinds of learners can understand.
    </h3>
    <p>
        Our website is supported by passion and love.
    </p>

    <div class="left_profile">
        <img class = "profileL" src="/img/default_profile.svg">
        <h4><a href="mailto:Chen Kang Yang<kche0105@uni.sydney.edu.au>" title="Email Chen Kang Yang">Chen Kang Yang</a></h4>
        <p class="profile_description">2nd year Bachelor of Advanced Computing student. Curious and loves learning new things. A technical person, enjoys hands-on activities.</p>
    </div>
    <div class="right_profile">
        <img class = "profileR" src="/img/default_profile.svg">
        <h4><a href="mailto:Haeata Balfour Ash<hbal7849@uni.sydney.edu.au>" title="Email Haeata Balfour Ash">Haeata Balfour Ash</a></h4>
        <p class="profile_description">"20 year old with a crack addiction"</p>
    </div>
    <div class="left_profile">
        <img class = "profileL" src="/img/default_profile.svg">
        <h4><a href="mailto:Hongjia Cai<hcai7597@uni.sydney.edu.au>" title="Email Hongjia Cai">Hongjia Cai</a></h4>
        <p class="profile_description">2nd year Bachelor of Advanced Computing student.</p>
    </div>
    <div class="right_profile">
        <img class = "profileR" src="/img/default_profile.svg">
        <h4><a href="mailto:Mariam Patel<mpat4142@uni.sydney.edu.au>" title="Email Mariam Patel">Mariam Patel</a></h4>
        <p class="profile_description">Lorem ipsum</p>
    </div>
    <div class="left_profile">
        <img class = "profileL" src="/img/default_profile.svg">
        <h4><a href="mailto:Tharen Candi<tcan7909@uni.sydney.edu.au>" title="Email Tharen Candi">Tharen Candi</a></h4>
        <p class="profile_description">Lorem ipsum</p>
    </div>
</div>