<div id=main>
	<h2 class="username">{{username}}</h2>
	<div class="num_posts">Number of posts: {{num_posts}}</div>
	<ul class="post-list">
		% for p in posts:
		<ul id="{{p["id"]}}"class=user-post>
			% if p["title"] == "reply":

			<li class="post-url"><a href="/forum_post/{{p["parent_id"]}}">{{p["title"]}}</a></li>
			% else:

			<li class="post-url"><a href="/forum_post/{{p["parent_id"]}}">{{p["title"]}}</a></li>
			% end
			<li class=post-id>Post id: {{p["id"]}}</li>
			<li class="post-reports">Number of reports: {{p["report_count"]}}</li>
			<form action="/posts/{{p['id']}}", method="post">
				<input type="submit" name="delete" value="delete">
			</form>
		</ul>
		% end
	</ul>
</div>

