<div id=main>
	<ul class="user-list">
		% for u in users:
		<li> 
		<h2 class="username">{{u["username"]}}</h2>
		<h4><a href="/admin/users/{{u['id']}}">See Posts</a></h4>
		% if u["is_banned"]:
		<form action="/users/unban/{{u['id']}}" method="post">
			<input id="{{u['username']}}" type="submit" value="unban" type="unban">
		</form>
		% else:
		<form action="/users/ban/{{u['id']}}" method="post">
			<input id="{{u['username']}}" type="submit" value="ban" type="ban">
		</form>
			%end
		</li>
		% end
		
		%if len(users) > 0:
		<div>{{users[-1]["id"] + 1}}</div>
	<a href="/admin/users?gid={{users[-1]["id"] + 1}}"><button class=ask_button type="button">Next page</button></a>
	%end
		
	</ul>
</div>
