<div id="main">
    <h1>Contents</h1>

	<p>We suggest that you read through the content following the order.</p>

	<div id="how_web_works" style="padding: 20px 0;"></div>
	<h2>How the Web Works</h2>
	<ul class="content_list">
        <li><a href="content/how_web_works/overview">How the Web Works</a></li>
    </ul>

	<div id="html" style="padding: 20px 0;"></div>
    <h2>HyperText Markup Language (HTML)</h2>
    <ul class="content_list">
        <li><a href="content/html/introduction">Introduction to HTML</a></li>
        <li><a href="content/html/tags_elements">Tags and Elements</a></li>
        <li><a href="content/html/attributes">Attributes</a></li>
        <li><a href="content/html/formatting">Formatting</a></li>
        <li><a href="content/html/class">Classes and ID</a></li>
    </ul>

	<div id="css" style="padding: 20px 0;"></div>
	<h2>Cascading Stylesheets (CSS)</h2>
    <ul class="content_list">
        <li><a href="content/css/what_is_css">What is CSS?</a></li>
        <li><a href="content/css/applying_css">Applying CSS</a></li>
        <li><a href="content/css/selectors">CSS Selectors</a></li>
		<li><a href="content/css/specificity_inheritance">Cascade, Specificity and Inheritance</a></li>
    </ul>

	<div id="js" style="padding: 20px 0;"></div>
	<h2>Javascript</h2>
	<ul class="content_list">
        <li><a href="content/js/what_is_js">What Is Javascript</a></li>
        <li><a href="content/js/basic">Basic Syntax</a></li>
        <li><a href="content/js/control_flow_loops">Control Flow and Loops</a></li>
        <li><a href="content/js/objects">Objects and JSON</a></li>
        <li><a href="content/js/webconsole_dom">Javascript in Web Development</a></li>
    </ul>

	<div id="web-frameworks" style="padding: 20px 0;"></div>
	<h2>Web Frameworks</h2>
	<ul class="content_list">
        <li><a href="content/web-frameworks/introduction">Introduction to the Bottle web-framework </a></li>
        <li><a href="content/web-frameworks/basic_routing">Basic Routing</a></li>
        <li><a href="content/web-frameworks/dynamic_routing">Dynamic Routing</a></li>
        <li><a href="content/web-frameworks/http_request_methods">HTTP Request Methods</a></li>
        <li><a href="content/web-frameworks/templates">Bottle Templates</a></li>
        
    </ul>
</div>