<div id=main>
    <h1>
        Frequently Asked Questions
    </h1>
    <h3 id="subtitle">
        If your question is not here, write a forum post or try contacting us.
    </h3>
    

    <div class="right_profile">
        <h3>How do I make an account?</h3>
        <p>On every web page there is a "Sign In" button in the top right corner. On that page, there is a "Sign Up" button. Click that and make an account!</p> 
    </div>

    <div class="right_profile">
        <h3>What is the general forum for?</h3>
        <p>Share any of your own development on the general forum. Additionally, use the general forum when your question does not fall under any one particular category. </p> 
    </div>

    <div class="right_profile">
        <h3>What is the account for?</h3>
        <p>The account will allow you to answer questions and post questions on the forum.</p> 
    </div>

    <div class="right_profile">
        <h3>What should I do next?</h3>
        <p>If you have understood all the information on this website. You are well on your way in becoming a proficient web developer! Take a look at our example <a href="/content/web-frameworks/working_example">CV site</a> for some inspiration, or learn about database integration. </p> 
    </div>
    
</div> 