<nav class="sidenav">
    <a class="active" href="#general">General</a>
	<a href="#htww">How The Web Works</a>
	<a href="#html">HTML</a>
	<a href="#css">CSS</a>
	<a href="#web-framework">Web Frameworks</a>
	<a href="#javascript">JavaScript</a>
</nav>


<main class='main-content'>
    <a href="/forum"><button class=back_button type="button">Back to forum </button></a>
    <div class="post">
    <article class ="a_post">
        <a href="/forum_post"></a>
        <header class = post_head>
            <div>
                <h1>Routing problem</h1>
                <div class="about">user_1231 answers: 10</div>
            </div>
        </header>
            <p class="body"> I have tried to add routing to my bottle code but it is not working properly. It can't find the page for some reason.</p>
    </article>
    </div>

    <div class="reply">
        
        <form>
            <input class="answer_box" type = "text" id="answer" name="answer">
            <input type="submit" value="Submit">
        </form>
    </div>


    <div class="answers">
        <h1> 1 Answer</h1>
        <article class="answer">
            <div class="about">
                 user_2352 likes: 2
            </div>
            <p class="body">
                Can you send your code? Are you sure you have the correct directory to the html page you are trying to route?
            </p>
        </article>
    </div>

        
    
</main>