<nav class="sidenav">
    <a class="active" href="#general">General</a>
	<a href="/htww">How The Web Works</a>
	<a href="/html">HTML</a>
	<a href="/css">CSS</a>
	<a href="/web-framework">Web Frameworks</a>
	<a href="/javascript">JavaScript</a>
</nav>

<main class='main-content'>
<article class ="all_posts">
    <div class="heading">
    <h1 class="forum_h1">All questions</h1>
    <a href="/forum_new_post"><button class=ask_button type="button">Ask a Question! </button></a>
    </div>
    <div class="forum_sort">
        <button type="button">New</button>
        <button type="button">Answered</button>
        <button type="button">Liked</button>
    </div>
   

    
    
    <article class ="a_post">
        <header class = post_head>
            <div>
                <a href="forum_post">
                <h1>Routing problem</h1>
            </a>
                <div class="about">user_1231 answers: 10</div>
            </div>
        </header>
            <p class="body"> I have tried to add routing to my bottle code but it is not working properly. It can't find the page for some reason...</p>
    </article>
   
   
    <article class ="a_post">
        <header class = post_head>
            <div>
                <a href="/forum_post">
                    <h1>Lorem ipsum dolor sit amet</h1>
                </a>
                <div class="about">user_1231 answers: 2</div>
            </div>
        </header>
            <p class="body"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </article>

    <article class ="a_post">
        <header class = post_head>
            <div>
                <a href="/forum_post">
                    <h1>Lorem ipsum dolor sit amet</h1>
                </a>
                <div class="about">user_1231 answers: 14</div>
            </div>
        </header>
            <p class="body"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </article>

    <article class ="a_post">
        <header class = post_head>
            <div>
                <a href="/forum_post">
                    <h1>Lorem ipsum dolor sit amet</h1>
                </a>
                <div class="about">user_1231 answers: 1</div>
            </div>
        </header>
            <p class="body"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </article>
</article>
</main>