<nav class="sidenav">
    <a class="active" href="#general">General</a>
	<a href="#htww">How The Web Works</a>
	<a href="#html">HTML</a>
	<a href="#css">CSS</a>
	<a href="#web-framework">Web Frameworks</a>
	<a href="#javascript">JavaScript</a>
</nav>


<main class='main-content'>
    
    <div class="post">
    <article class ="a_post">
        <a href="/forum_post"></a>
        <header class = post_head>
            <div>
                <h1>Lorem ipsum dolor sit amet</h1>
                <div class="about">user_1231 answers: 10</div>
            </div>
        </header>
            <p class="body"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </article>
    </div>

    <div class="reply">
        
        <form>
            <input class="answer_box" type = "text" id="answer" name="answer">
            <input type="submit" value="Submit">
        </form>
    </div>


    <div class="answers">
        <h1> 1 Answer</h1>
        <article class="answer">
            <div class="about">
                 user_2352 likes: 2
            </div>
            <p class="body">
                This is an answer. This is an answer. This is an answer. This is an answer. This is an answer. This is an answer. This is an answer.This is an answer. 
                This is an answer. This is an answer. This is an answer. This is an answer. This is an answer. This is an answer. This is an answer.This is an answer.
            </p>
        </article>
    </div>

        
    
</main>