<div id=main>
    <h1>Welcome! This website aims to give you the knowledge to design and build your own website from the ground up!</h1>
    
    <h2>What we cover</h2>
    
    <ul id="content_cards">
        <li><a href="/content/how_web_works" class="card_link">
            <div class="card">
                <div class="card_title"><h3>How the Web Works</h3></div>
                <div class="card_content"><p>Learn how the internet functions, how websites are connected and how a client interacts with a web server.</p></div>
            </div>
        </a></li>
        <li><a href="/content/html" class="card_link">
            <div class="card">
                <div class="card_title"><h3>HTML</h3></div>
                <div class="card_content"><p>Learn the fundamental scripting language used to present text, videos, forms and images on a web page.</p></div>
            </div>
        </li></a>
        <li><a href="/content/css" class="card_link">
            <div class="card">
                <div class="card_title"><h3>CSS</h3></div>
                <div class="card_content"><p>Learn how to make web pages visually pleasing through custom style sheets!</p></div>
            </div>
        </a></li>
        <li><a href="/content/js" class="card_link">
            <div class="card">
                <div class="card_title"><h3>Javascript</h3></div>
                <div class="card_content"><p>Learn the number one object oriented programming language to create interactive environments on web page.</p></div>
            </div>
        </a></li>
        <li><a href="/content/web-frameworks" class="card_link">
                <div class="card">
                    <div class="card_title"><h3>Web Frameworks</h3></div>
                    <div class="card_content"><p>Learn Bottle. The easiest way to get a taste of back end web dev and other tools to help you create bigger and better websites!</p></div>
                </div>
            </ul>
        </a></li>
</div>