body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  padding: 25px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=submit] {
  background-color: ##ffb4d3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
}
