<div id=main>
    
    <h1>Sign In</h1>
        <form class = cred_box action="/login" method="post" style="border:1px solid #ccc">
            <label>Username:</label><input name="username" placeholder="Enter Username" type="text" required>
        <br>
            <label>Password:</label><input name="password" placeholder="Enter Password" type="password" required>
        <br>
        <input class=button value="Login" type="submit">
        <br>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
</div>
