<div id="main">

    <h1>Sign Up</h1>

    <form class="cred_box" action="/signup" method="post" style="border:1px solid #ccc">
        Username: <input name="username" placeholder="Enter Username" type="text" required>
        <br>
        Password: <input name="password" placeholder="Enter Password" type="password" required>
        <br>
        Confirm password: <input name="confirm_password" placeholder="Confirm Password" type="password" required>
        <br>
        <input value="Sign up" type="submit">
        <br>
        <p>Already have an account? <a href="/login">Sign in</a></p>
    </form>
</div>
