<nav class="sidenav">
	<a class="back_to_home" href="/">&lt; Back to home</a>
	<a class="active" href="overview">How The Web Works</a>
</nav>

<main class='main-content'>
	<h1>How the Web Works</h1>
	<div class="content-section content-text"> 
<p>
At a high level, the web is simply made up of <b>clients</b> and <b>servers</b> requesting and sending information. <br>A client is a device and its web accesing software such as a browser that is connected to the internet. The client sends requests to another device seeking a service or information. On the other hand, a server is a dedicated device that stores content and/or functionality, which when requested can be downloaded from the server.
</p>


<h3 class="subtitle">Important Terminology</h3>
<p>
<ul>
	<li>
	<b>IP Address:</b> IP address, as known as Internet Protocol Address, is a unique identifier for a device. IP addresses consists of four numbers from 0-255 divided by decimal points. For example, 168.212.226.204 is an IP address.
	<br>
	</li>

	<li>
	<b>ISP:</b> Internet Service Provider, as known as ISP, is a company providing internet services. They give user access to internet by different cables (e.g. Fibre-optics).
	<br>
	</li>

	<li>
	<b>DNS:</b> Domain Name System (DNS) is a database including the domain names and IP addresses of computers. Users can access www.google.com instead of its IP address by DNS.
	<br>
	</li>

	<li>
	<b>Domain Name:</b> Domain Name (e.g. www.google.com) is used to access the website and it has at least one  corresponding IP address. Browser uses DNS to find the IP address of the domain name typed in.
	<br>
	</li>

	<li>
	<b>TCP/IP:</b> Transmission Control Protocol/Internet Protocol is a protocol for transmitting data through internet.
	<br>
	</li>

	<li>
	<b>Port Number:</b> A 16 bits integer associated with an IP address is a port number. Port number is a identification of the port on a server.
	<br>
	</li>

	<li>
	<b>Host:</b> A host is a device with one unique IP address connected to the internet. For example, a web server is one type of host which handles a web page. Besides, host is also the name of organization providing hosting services.
	<br>
	</li>

	<li>
	<b>HTTP:</b> Hyper-text Transfer Protocol, as known as HTTP, is a protocol used to communicate between web browsers and web servers.
	<br>
	</li>

</ul>
</p>
<h3 class="subtitle">The Process of Getting Things Displayed on Your Screen</h3>
<p>
	<ol>
		<li>Type the URL into the browser.</li>
		<li>After you type the URL into the browser,
The browser will parse the URL to get information (protocol, host name, and file name). If there is no file name, then the browser assumes to go to the main page.
</li>
		<li>Then the browser and the ISP will communicate each other, also involving other services with DNS search to get the IP address of the website.
</li>
		<li>The web browser then will take the IP address and the port number in URL through TCP. After this, the web browser and web server are connected.
</li>
		<li>The web browser and web server then communicate each other for HTML resources.
		<li>The web browser renders all the code in the HTML resources on the screen.
</li>
	</ol>
</p>

<h3 class="subtitle">Sources</h3>
<p>
<a href="https://academind.com/tutorials/how-the-web-works/
	 "> Academind How the Web Works</a><br>
<a href="https://www.freecodecamp.org/news/how-the-web-works-a-primer-for-newcomers-to-web-development-or-anyone-really-b4584e63585c/
"> How the Web Works For Newcomers</a>
</p>
</div>
</main>
