<nav class="sidenav">
	<a class="active" href="overview">Overview</a>
	<a href="terminology">Terminology</a>
</nav>

<main class='main-content'>
	<h1>Overview</h1>
	<div class="content-section content-text">

<p>
At a high level, the web is simply made up of <b>clients</b> and <b>servers</b> requesting and sending information. <br>A client is a device and its web accesing software such as a browser that is connected to the internet. The client sends requests to another device seeking a service or information. On the other hand, a server is a dedicated device that stores content and/or functionality, which when requested can be downloaded from the server.
</p>


<h3 class="subtitle">Important Terminology</h3>
<p>
<ul>
	<li>
	<b>IP Address:</b> IP address, as known as Internet Protocol Address, is a unique identifier for a device. IP addresses consists of four numbers from 0-255 divided by decimal points. For example, 168.212.226.204 is an IP address.
	<br>
	</li>

	<li>
	<b>ISP:</b> Internet Service Provider, as known as ISP, is a company providing internet services. They give user access to internet by different cables (e.g. Fibre-optics).
	<br>
	</li>

	<li>
	<b>DNS:</b> Domain Name System (DNS) is a database including the domain names and IP addresses of computers. Users can access www.google.com instead of its IP address by DNS.
	<br>
	</li>

	<li>
	<b>Domain Name:</b> Domain Name (e.g. www.google.com) is used to access the website and it has at least one  corresponding IP address. Browser uses DNS to find the IP address of the domain name typed in.
	<br>
	</li>

	<li>
	<b>TCP/IP:</b> Transmission Control Protocol/Internet Protocol is a protocol for transmitting data through internet.
	<br>
	</li>

	<li>
	<b>Port Number:</b> A 16 bits integer associated with an IP address is a port number. Port number is a identification of the port on a server.
	<br>
	</li>

	<li>
	<b>Host:</b> A host is a device with one unique IP address connected to the internet. For example, a web server is one type of host which handles a web page. Besides, host is also the name of organization providing hosting services.
	<br>
	</li>

	<li>
	<b>HTTP:</b> Hyper-text Transfer Protocol, as known as HTTP, is a protocol used to communicate between web browsers and web servers.
	<br>
	</li>

</ul>
</p>


</main>
