
<nav class="sidenav">
	<a href="wij">What Is Javascript</a>
	<a href="basic">Basic Syntax</a>
	<a href="ctr_loops">Control Flow and Loops</a>
	<a class="active" href="objects">Objects and JSON</a>
	<a  href="wc_dom">Javascript in Web Development</a>
</nav>

<main class='main-content'>
	<h1>Basic Syntax</h1>
	<div class="content-section content-text">
		<h3 class="subtitle">Objects</h3>

<p>
Nearly all objects in javascript are instances of "Object", which has some basic methods and properties.
<br>
<br>

Some other Data Types include:
<ul>
	<li>Boolean: true and false.</li>
	<li>null: A special keyword denoting a null value. </li>
	<li>undefined: A top-level property whose value is not defined.</li>
	<li>Number: An integer or floating point number</li>
	<li>BigInt: An integer with arbitrary precision. For example: 9007199254740992n.</li>
	<li>String: A sequence of characters e.g. "Hello"</li>
</ul>
</p>

		<h3 class="subtitle">Creating Objects</h3>
<p>
We create a javascript object much like a variable except we use javscript object notation.
</p>
<div class="code">
const obj = {<br>
    name: "lauren", <br>
    height: 180.2, <br>
    unit: "cm" <br>
}
</div>

		<h3 class="subtitle">Sources</h3>
<p>
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object
</p>
</main>
