<nav class="sidenav">
	<a class="back_to_index" href="../html">&lt; Back to index</a>
	<a class="active" href="intro">Intro</a>
	<a href="basic_routing">Basic Routes</a>
	<a href="dynamic_routing">Dynamic Routes</a>
	<a href="http_request_methods">TTP Request methods</a>
	<a href="templates">Templates</a>
	<a href="working_example">Working Example</a>

</nav>

<main class='main-content'>
	<h1>Introduction to the Bottle Framework</h1>
	<div class="content-section content-text">
		<h3 class="subtitle">Bottle - A python Web Framework</h3>

		<p>All information can be found on https://bottlepy.org/docs/dev/</p>
		<p>Bottle is a lightweight web-framework for Python. It allows us to have dynamic URLS, gatther and manipulate data from users, and create an HTTP web server </p>
	</div>
</main>
