<nav class="sidenav">
	<a class="back_to_home" href="/">&lt; Back to home</a>
	<a  href="introduction">Introduction</a>
	<a href="basic_routing">Basic Routes</a>
	<a href="dynamic_routing">Dynamic Routes</a>
	<a href="http_request_methods">HTTP Request methods</a>
	<a href="templates">Templates</a>
	<a href="working_example">Working Example</a>
	<a class="active" href="other_frameworks">Other Web Frame Works</a>
</nav>

<main class='main-content'>

	<h1>Other Useful Frameworks</h1>
	<div class="content-section content-text">
		<h3 class="subtitle">Bottle - A python Web Framework</h3>

		<ul>
            <li>React</li>
            <p>an Open source framework, used to make Netflix, and drop box. React is a javascript library that makes interactive UI development streamline. https://reactjs.org/.</p>
           
          </ul>
	</div>

    <p>https://www.simform.com/best-frontend-frameworks/</p>
</main>