<nav class="sidenav">
	<a class="back_to_home" href="/">&lt; Back to home</a>
	<a href="what_is_css">CSS Syntax</a>
	<a href="applying_css">Applying CSS</a>
	<a class="active" href="selectors">CSS Selectors</a>
	<a href="specificity_inheritance">Cascade, Specificity and Inheritance</a>
</nav>

<script src="/js/prism.js"></script>

<main class='main-content'>

<h1>CSS Selectors</h1>
<div class="content-section content-text">
<p>
Selectors in CSS are used to target HTML elements on our web pages that we want to style.<br>

A CSS selector is the first part of a CSS rule. It tells the browser which HTML elements should be selected to have the CSS rule applied to them. The <code class="language-css">h1</code> and <code class="language-css">p</code> in the code block below are both selectors.<br>

Put this into your stylesheet file and see what changes.
</p>
<pre><code class="language-css">h1 { <br>
color: red;<br>
background-color: black;<br>
}<br>
<br>
p {<br>
color: orange;<br>
}
</pre></code>

<iframe title="code example 3" src="examples/example_3"  width="100%" height="300"></iframe>
<p>In this article, you will learn about different selectors that target HTML elements in different way and also cascade, specificity and inheritance in CSS. However, this article will not describe all selectors available, refer to the selectors reference table at the end of the page for an overview of all the selectors.
</p>

<h3 class="subtitle">Selectors</h3>
<p>
<b>Type Selectors:</b> Targets an HTML element, for example, <code class="language-html">&lt;h1&gt;</code>.
<pre><code class="language-css">h1 { <br>
  color: cyan;<br>
  font-size: 25pt;<br>
}
</pre></code>
</p>

<p>
<b>Class Selector:</b> Targets a class in the HTML document. The syntax for the selector is `.` followed by the class name. <code class="language-css">.replace_with_class_name</code>
<br>
A snippet from the template HTML document.
<pre><code class="language-css">&lt;p class=&quot;a_class&quot;&gt;A paragraph with class.&lt;/p&gt;
</pre></code>
<br>
<pre><code class="language-css">.a_class { }</pre></code>
</p>
<p>
<b>ID Selector:</b> Targets an id in the HTML document. The syntax for the selector is `#` followed by the id. <code class="language-css">#replace_with_id</code>
<br>
A snippet from the template HTML document.
<pre><code class="language-css">&lt;span id=&quot;unique&quot;&gt;span element&lt;/span&gt;</pre></code>
<br>
<pre><code class="language-css">#unique { }</pre></code>
</p>
<p>
	<b>Attribute Selector:</b> Targets elements based on the presence of certain attribute on an element. <code class="language-css">a[attr] { }</code>

Based on out template, we have 2 <code class="language-css">a&gt;</code> elements but with different <code class="language-html">href</code> attributes. We can select one of them by using:
<pre><code class="language-css">a[href="https://example.com"] { }</pre></code>
</p>
<p>
	<b>Pseudo Class Selector:</b> Targets element based on the state of an element. For example, The syntax for this selector is the element, followed by `:` and then the state of the element. For example:
	<pre><code class="language-css">a:hover { }</pre></code>
</p>
<p>
	<b>Descendant Combinator:</b> Style something based on their location in the HTML document. For example, to select an <code class="language-css">&lt;em&gt;</code> nested inside the <code class="language-css">&lt;li&gt;</code> element instead of the <code class="language-css">&lt;em&gt;</code> in <code class="language-css">&lt;p&gt;</code>, enter both element, separated by space as the selector.
<pre><code class="language-html">&lt;p&gt; Lorem &lt;em&gt;Ipsum&lt;/em&gt;&lt;/p&gt; <br>
&lt;ul&gt;<br>
	&lt;li&gt;Item &lt;span&gt;one&lt;/span&gt;&lt;/li&gt;<br>
	&lt;li&gt;Item two&lt;/li&gt;<br>
	&lt;li&gt;Item &lt;em&gt;three&lt;/em&gt;&lt;/li&gt;<br>
&lt;/ul&gt;
</pre></code>
<br>

<pre><code class="language-css">li em { <br>
	color: rebeccapurple; <br>
}</pre></code>
<iframe title="code example 4" src="examples/example_4"  width="100%" height="300"></iframe>
<br>
The text colour of "three" will be `rebeccapurple` while "Ipsum" remains `black`.
</p>
</div>
</main>
