<nav class="sidenav">
    <a class="active" href="general">General</a>
	<a href="/forum/htww">How The Web Works</a>
	<a href="/forum/html">HTML</a>
	<a href="/forum/css">CSS</a>
	<a href="/forum/web-framework">Web Frameworks</a>
	<a href="/forum/javascript">JavaScript</a>
</nav>

<main class='main-content'>
<h1>{{forum}} - Forum</h1>
<article class ="all_posts">
    <div class="heading">
    <h1 class="forum_h1">All questions</h1>
    <a href="/forum_new_post"><button class=ask_button type="button">Ask a Question! </button></a>
    </div>
    <div class="forum_sort">
        <button type="button">How are you today?</button>
    </div>
   

    <div class="user_posts">

        %for post in posts:
        <article class ="a_post">
            <header class = post_head>
                <div>
                    <a href="/forum_post/{{post['id']}}"> 
                        <h1>{{post["title"]}}</h1>
                    </a>
                    <div class="about">{{post["username"]}}</div>
                </div>
            </header>
            <p class="body">{{post["body"]}}</p>
        </article>
        %end
    </div>
</main>