


<main class='content'>
<div class=forum_post>
    
    <a href="/forum/general"><button class=back_button type="button">Back to forum </button></a>
    
    <article class ="a_post">
        <a href="forum_post"></a>
        <header class = post_head>
            <div>
                <h1>{{post['title']}}</h1>
                <div class="about">{{post['username']}}</div>
            </div>
        </header>
            <p class="body">{{post['body']}}</p>
            <form action="/report_post/{{post['id']}}" method="post">
                <input type="submit" name="report" value="report" />
            </form>
    </article>
    </div>
   

    
    <div class = reply>
        <article class ="answer">
        <p>reply here:</p>
        <form class="reply_form", action="/forum_post/{{post['id']}}", method="POST">
            <input class="answer_box" type ="text" id="answer" name="answer">
            <input class="submit" type="submit" value="Submit">
        </form>
    </article>
    </div>
   


    <div class="answers">
        <h1> {{len(replies)}} answers</h1>
        
        %for reply in replies:
       
        <article class="answer">
            
            <form action="/report_post/{{reply['id']}}" method="post">
                <input type="submit" name="report" value="report" />
            </form>
            
            
            <div class="about">
                 {{reply["username"]}} 
            </div>
            <p class="body">
                {{reply["body"]}}
            </p>
        
        </article>
        %end

	%if len(replies) > 0:
	<a href="/forum_post/{{post['id']}}?gid={{replies[-1]["id"] + 1}}"><button class=ask_button type="button">See more replies</button></a>
	%end
       
        

        
</div>
</main>
