
<div id=main>
    
    <h1>Write your question, and any elaboration within the body.</h1>
    <a href="/forum/general"><button class=back_button type="button">Back to forum </button></a>
    <div class="post">
    <article class ="new_post">
        <a href="forum_post"></a>
            <form class="post_form", action="/forum_new_post", method="POST">
                <p>Question</p>
                <input class="title_box" type = "text" id="title" name="title">
                <p>Elaboration</p>
                <input class="body_box" type = "text" id="body" name="body">
                <p>select sub-forum</p>
                <select id="select_forum" name="forum">
                    <option value="general">General</option>
                    <option value="htww">The Web</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="web-framework">Web Frameworks</option>
                    <option value="javascript">JavaScript</option>
                </select>
                <input type="submit" value="Submit">
            </form>
    </article>

    </div>

    
        
        
  


   
    

        
    
</main>