


<main class='content'>
<div class=forum_post>
    
    <a href="/forum/general"><button class=back_button type="button">Back to forum </button></a>
    
    <article class ="a_post">
        <a href="forum_post"></a>
        <header class = post_head>
            <div>
                <h1>Routing problem</h1>
                <div class="about">user_1231 answers: 10</div>
            </div>
        </header>
            <p class="body"> I have tried to add routing to my bottle code but it is not working properly. It can't find the page for some reason.</p>
    </article>
    </div>

    
    <div class = reply>
        <article class ="answer">
        <p>reply here:</p>
        <form class="reply_form">
            <input class="answer_box" type ="text" id="answer" name="answer">
            <input class="submit" type="submit" value="Submit">
        </form>
    </article>
    </div>
   


    <div class="answers">
        <h1> 2 Answers</h1>
        <article class="answer">
            <div class="about">
                 user_2352 
            </div>
            <p class="body">
                Can you send your code? Are you sure you have the correct directory to the html page you are trying to route?
            </p>
        </article>
        <article class="answer">
            <div class="about">
                 user_sasd 
            </div>
            <p class="body">
                make sure you have a '/' in the route.
            </p>
        </article>
   

        
</div>
</main>