<nav class="sidenav">
    <a class="active" href="general">General</a>
	<a href="htww">How The Web Works</a>
	<a href="html">HTML</a>
	<a href="css">CSS</a>
	<a href="web-framework">Web Frameworks</a>
	<a href="javascript">JavaScript</a>
</nav>

<main class='main-content'>
<h1>General - Forum</h1>
<article class ="all_posts">
    <div class="heading">
    <h1 class="forum_h1">All questions</h1>
    <a href="/forum/forum_new_post"><button class=ask_button type="button">Ask a Question! </button></a>
    </div>
    <div class="forum_sort">
        <button type="button">New</button>
        <button type="button">Answered</button>
        <button type="button">Liked</button>
    </div>
   

    <div class="user_posts">
        <article class ="a_post">
            <header class = post_head>
                <div>
                    <a href="forum_post">
                        <h1>Routing problem</h1>
                    </a>
                    <div class="about">user_1231 answers: 1</div>
                </div>
            </header>
            <p class="body"> I have tried to add routing to my bottle code but it is not working properly. It can't find the page for some reason...</p>
        </article>
        
        
        <article class ="a_post">
            <header class = post_head>
                <div>
                    <a href="forum_post">
                        <h1>Web site ideas</h1>
                    </a>
                    <div class="about">user_43523 answers: 2</div>
                </div>
            </header>
            <p class="body"> Any website Idea you want to share, comment in this thread.</p>
        </article>
        
        <article class ="a_post">
            <header class = post_head>
                <div>
                    <a href="forum_post">
                        <h1>Is this website secure?</h1>
                    </a>
                    <div class="about">user_11231 answers: 0</div>
                </div>
            </header>
            <p class="body">I made an account, but how secure is this website?</p>
        </article>
        
        <article class ="a_post">
            <header class = post_head>
                <div>
                    <a href="forum_post">
                        <h1>Why did the web developer drown? </h1>
                    </a>
                    <div class="about">user_7731 answers: 1</div>
                </div>
            </header>
            <p class="body"> They didn't know if they could float:left or float:right</p>
        </article>
    </div>
    </article>
</main>