<nav class="sidenav">
    <a href="general">General</a>
	<a href="htww">How The Web Works</a>
	<a class="active" href="html">HTML</a>
	<a href="css">CSS</a>
	<a href="web-framework">Web Frameworks</a>
	<a href="javascript">JavaScript</a>
</nav>

<main class='main-content'>
<h1>HTML - Forum</h1>
<article class ="all_posts">
    <div class="heading">
    <h1 class="forum_h1">All questions</h1>
    <a href="/forum_new_post"><button class=ask_button type="button">Ask a Question! </button></a>
    </div>
    <div class="forum_sort">
        <button type="button">New</button>
        <button type="button">Answered</button>
        <button type="button">Liked</button>
    </div>
   

    <div class="user_posts">
        <article class ="a_post">
            <header class = post_head>
            <div>
                <a href="forum_post">
                    <h1>Can I make an image clickable?</h1>
                </a>
                <div class="about">user_231 answers: 0</div>
            </div>
        </header>
        <p class="body">How can I make an image also a button?</p>
    </article>
</div>
    
    
    
</article>
</main>