<nav class="sidenav">
    <a href="general">General</a>
	<a href="htww">How The Web Works</a>
	<a href="html">HTML</a>
	<a href="css">CSS</a>
	<a class="active"href="web-framework">Web Frameworks</a>
	<a href="javascript">JavaScript</a>
</nav>

<main class='main-content'>
<h1>Web Frameworks - Forum</h1>
<article class ="all_posts">
    <div class="heading">
    <h1 class="forum_h1">All questions</h1>
    <a href="/forum_new_post"><button class=ask_button type="button">Ask a Question! </button></a>
    </div>
    <div class="forum_sort">
        <button type="button">New</button>
        <button type="button">Answered</button>
        <button type="button">Liked</button>
    </div>
   

    <div class="user_posts">
        <article class ="a_post">
            <header class = post_head>
                <div>
                    <a href="forum_post">
                        <h1>How do I user sql with Bottle?</h1>
                    </a>
                    <div class="about">user_5911 answers: 1</div>
                </div>
            </header>
            <p class="body"> I want to display information inside an SQL database on a webpage. How do I do this?</p>
        </article>
    </div>
        
        
        
    </article>
</main>